<h2> О Нас </h2>
<p>
	Что такое барбершоп? Это мужской салон красоты, где специалисты работают с внешностью. Иными словами, хотите ухоженно выглядеть – вам сюда. Но почему такие салоны стали популярны? Как они вообще появились? Об этом и поговорим.

	Как возникли барбершопы? Античность и Средние века
	Первые «прототипы» бритв были в ходу еще у древних египтян. И действительно, фараоны того времени гладко брились, а все бороды на сохранившихся изображениях – накладные, часть церемониального облачения. Вероятно, роль парикмахера для правителей отдавалась жрецам.

</p>
<!--подключение javascript именно на этой странице-->
<script type="text/javascript">
alert ("HabraMabra");
</script>