<p> +7 922 982 64 42 <p>

	<table class="table">
<thead>
  <tr>
    <th scope="col">День</th>
    <th scope="col">Время</th>
  </tr>
</thead>

<tbody>
  <tr>
    <th scope="row">Пoнедельник</th>
    <td>10:00 - 19:00</td>    
  </tr>
  
  <tr>
    <th scope="row">Вторник</th>
    <td>10:00 - 19:00</td>    
  </tr>

  <tr>
    <th scope="row">Среда</th>
    <td>10:00 - 19:00</td>    
  </tr>

  <tr>
    <th scope="row">Четверг</th>
    <td>10:00 - 19:00</td>    
  </tr>

  <tr>
    <th scope="row">Пятница</th>
    <td>10:00 - 19:00</td> 
  </tr>
  
  <tr>
    <th scope="row">Суббота</th>
    <td>10:00 - 19:00</td>    
  </tr>

  <tr>
    <th scope="row">Воскресенье</th>
    <td>10:00 - 19:00</td>   
  </tr>                               
  
</tbody>
</table>