<!doctype html>
<html lang="en">
  <head>
  <title>BarberShop</title>
       <!--Required meta tags 
    <meta charset="utf-8">-->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
         <!--Bootstrap CSS-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <!--лишнее добавление, но не помешало работать сайту--><link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!--подключаем jquery
    эта ссылка подключения к jquery у меня не работает<script src="/vendor/jQuery-3.7.1.min.js"></script> ниже написанная отработала -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    <!--лишнее добавление, но не помешало работать сайту--> <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--подключаем джаваскрипт и создаем представление скрипта в папке public script.js (наименование файла)
    <script type="text/javascript" src="script.js"></script>-->

    
  </head>

  <body>
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">BarberShop</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <!--<li><a href="/about"> О Нас </a></li>-->              
              <a class="nav-link" href="/about"> О Нас <span class="sr-only">(current)</span></a>       
            <li class="nav-item active">
              <a class="nav-link" href="/contacts"> Контакты <span class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item active">
              <a class="nav-link" href="/visite"> Записаться <span class="sr-only">(current)</span></a>
            </li>    
               
              
            </li>
          </ul>
        </div>
      </nav>
      <div>
        <%if @error then %>
            <div class="alert alert-error"><%=@error%></div>
        <% end %>
        <%= yield %>
      </div>                                    
    </div>
  </body>
</html>
