<h1>Добро пожаловать в барбершоп</h1>

<form action="/visite" method="POST">
  </br>
  <div class="form-group"> 
    <label>ИМЯ</label>
    <input type="text" name="@user_name" class="form-control" placeholder="Введите номер телефона">
  </div>  
      </br>

  <div class="form-group"> 
    <label>ТЕЛЕФОН</label>
    <input type="text" name="@phone" class="form-control" placeholder="Введите номер телефона">
  </div>
   </br>

  <div class="form-group"> 
    <label>Когда Вас ждать?</label>
    <input type="text" name="@time" class="form-control" placeholder="Желаемый день и время">
  </div>  
   </br>

  <div class="form-group"> 
    <label>Выберете мастера</label>
        <select name="@barber" class="form-control">
            <option>Чебурашка</option>
            <option>Крокодил Гена</option>
            <option>Крыска Лариска</option>
            <option>Шапокляк</option>
        </select>
  </div>  
   </br>   
  <!--button Submit кнопка получилась синяя-->
  <button type="submit" class="btn btn-primary">Записаться</button><br/>
  <!-- кнопка белого цвета <input type="submit">-->

</form>


                     


   